absl-py==2.1.0
jax==0.4.25
jaxlib==0.4.25+cuda12.cudnn89
flax==0.8.1
matplotlib==3.8.3
tqdm==4.66.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-probability==0.24.0
openml==0.14.2
openpyxl==3.0.10
opt-einsum==3.3.0
optax==0.2.0
orbax-checkpoint==0.5.3